.UINewsletterPortlet {
	margin: 10px 10px 10px 20px;
	padding: 10px 5px;
	width: 100%;
	min-height: 500px;
}

.TextTest {
	font-size: 30px;
	color: Red;
}

.UserName {
	height: 30px;
	margin-top: 10px;
}

.UserName .LeftUserName {
	float: left;
	height: 30px;
}

.UserName .RightUserName {
	margin-left: 310px;
}

.RightUserName .buttonForget {
	float: right;
	margin-right: 100px;
}

.LeftUserName .textUserName {
	font-weight: boil;
	font-size: 12px;
}

.RightUserName input {
	width: 200px;
}

. ClearLeft {
	clear: left;
}

.ListCategory {
	margin-top: 10px;
	
}

.TextCategoryName {
	font-weight: boil;
	font-size: 16px;
	margin-top: 5px;
}

.TextAboutCategory {
	font-size: 12px;
	margin-top: 5px;
}

.ListSubcription {
	margin: auto;
	margin-top: 5px;
}
.ListSubcription table {
	border: 1px solid #252622;
	width: 70%;
	padding: 4px 4px;
}

.ListSubcription .TrTitleSubcription {
	height: 30px;
	background: #CCCCCC;
}

.ListSubcription .TrWhite{
	height: 30px;
}

.ListSubcription .TrGrey{
	height: 30px;
	background: #EDF3EE;
}

.ListSubcription .Line {
	line-height: 30px;
	border-right: 1px solid #2E2C2D;
}

.ListSubcription .TitleSubcription {
	padding-left: 20px;
	font-weight: boil;
	font-size: 14px;
}

.ListSubcription .SubcriptionContent {
	padding-left: 20px;
}

.ListSubcription a{
	padding-left: 20px;
	color: #000;
}

.ListSubcription a:hover{
	color: #5ba1d8;
	cursor: pointer;
}