#UIContainer-DefaultPortalContainer {
	padding: 0;
} 

#UIContainer-DefaultPortalContainer .UITableColumnContainer {
	width: 100%;
	position: relative;
}

#UIContainer-DefaultPortalContainer #UIContainer-Banner {
	padding: 0;
}

#UIContainer-DefaultPortalContainer #UIContainer-Login {
	padding: 0;
}

.UITableColumnContainer {
	width: 99%;
}