body {
	background: #fff;
}

#UIContainer-ACMEPortalContainer {
	background: url(background/BG_Header.gif) top left repeat-x;
	padding: 0;
} 

#UIContainer-ACMEPortalContainer .UITableColumnContainer {
	width: 100%;
}

#UIContainer-ACMEPortalContainer #UIContainer-Search {
	float: right;
	margin: 35px 35px 0 0;
	padding: 0;
}

#UIContainer-ACMEContainer {
	padding: 0;
}

#UIContainer-ACMEContainer .UITableColumnContainer {
	width: 100%;
}

#UIContainer-ACMEContainer #ACMEContainer .UIRowContainer {
	padding: 0;
}

#UIContainer-ACMEContainer #ACMEContainer #UIContainer-ACMESerProContainer {
	padding: 0;
}

#UIContainer-ACMEContainer #ACMEContainer #UIContainer-ACMEFeatures {
	padding: 0;
}