.UIPCLVPortlet .SelectTargetPageIcon {
	background: url('DefaultSkin/images/SearchIcon.png') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIPCLVPortlet .RssIcon {
	background: url('DefaultSkin/images/RSS.gif') no-repeat left top;
	padding-left: 22px;
	float: right;
	color: #fe9832;
	display: block;
	margin-top: 9px;
	line-height: 16px;
	font-size: 11px;
}

.UIPCLVPortlet .UIFormGrid {
	margin: 0;
}

.UIPCLVPortlet .HorizontalLayout .UIFormInputSet{
	padding: 0;
}

.UIPCLVPortlet .HorizontalLayout .FormContainer{
	padding: 0;
}

.UIPCLVPortlet .UIPageSelector {
	margin: 0;
	width: auto;
}
.UIPCLVPortlet #UIPageNodeSelector {
	float: left;
	width: 49%;
}
.UIPCLVPortlet .MiddleRightContainerOptions {
	width: 200%;
}

.UIPCLVPortlet .UIPageNodeSelector {
	width: 100%;
}

.UIPCLVPortlet #UIPageSelectorPanel {
	float: left;
	width: 49%;
}

.UIPCLVPortlet .CaptionFunc {
    height: 1%;
    overflow: hidden;
}

.UIPCLVPortlet .CaptionFunc .CaptionRefresh {
    width: 200px;
    float: left;
}

.UIPCLVPortlet .CaptionFunc .CaptionRefresh a {
    display: block;
    padding: 0 3px 3px 25px;
    background: url('DefaultSkin/images/RefreshIcon.gif') no-repeat;
    color: #ff4200;
    font-weight: bold;
    font-size: 13px;
}