
.UIPCLVPortlet {
	padding: 20px;
	background: #f2f2f2;
	font-family: arial;
}

.UIPCLVPortlet form {
	background: #fff;
	border: 1px solid #dbdbdb;
}

.UIPCLVConfig .SelectTargetPageIcon {
	background: url('DefaultSkin/images/SearchIcon.png') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIPCLVPortlet .TopBoxParameterized {
	background: url('DefaultSkin/images/BGTopBox.gif') repeat-x left top;
	border: 1px solid #cbe2f4;
	line-height: 30px;
	padding: 0px 10px;
	margin-bottom: 1px;
}

.UIPCLVPortlet .TopBoxParameterized .Title {
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

.UIPCLVPortlet .TopBoxParameterized .RssIcon {
	background: url('DefaultSkin/images/RSS.gif') no-repeat left top;
	padding-left: 22px;
	float: right;
	color: #fe9832;
	display: block;
	margin-top: 9px;
	line-height: 16px;
	font-size: 11px;
}

.UIPCLVPortlet .CaptionItem {
	border-top: 1px solid #cbe2f4;
	padding: 5px;
}

.UIPCLVPortlet .CaptionItem .HotNews {
	background: #edf5fb url('DefaultSkin/images/BGHotNews.gif') repeat-x left bottom;
	padding: 25px;
}

.UIPCLVPortlet .CaptionItem .ImageHotNews {
	background: #fff;
	width: 248px;
	border: 1px solid #dbdbdb;
	padding: 5px;
	float: right;
	display: block;
}

.UIPCLVPortlet .CaptionItem .ContentHotNews {
	margin-right: 280px;
	color: #6b6b6b;
	font-size: 12px;
	line-height: 16px;
}

.UIPCLVPortlet .CaptionItem .TitleContentHotNews {
	color: #3a66d8;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.UIPCLVPortlet .CaptionItem .TitleContentHotNews:hover {
	text-decoration: underline;
}

.UIPCLVPortlet .CaptionItem .NormalNews {
	padding: 25px;
}

.UIPCLVPortlet .CaptionItem .ImageNormalNews {
	background: #fff;
	width: 188px;
	border: 1px solid #dbdbdb;
	padding: 5px;
	float: left;
	display: block;
}

.UIPCLVPortlet .UIPCLVForm .TitleBar {	
	background:transparent url('DefaultSkin/images/BgCategoryTitle1x25.gif') repeat-x scroll 0 0;
	border-top:1px solid #B7B7B7;
	border-left:1px solid #B7B7B7;
	border-right:1px solid #B7B7B7;
	color:#424242;
	font-weight:bold;
	line-height:25px;
	padding-left:10px;
	text-align: center;
}

.UIPCLVPortlet .CaptionItem .ContentNormalNews {
	margin-left : 220px;
	color: #6b6b6b;
	font-size: 12px;
	line-height: 16px;
}

.UIPCLVPortlet .CaptionItem .TitleContentNormalNews {
	color: #3a66d8;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.UIPCLVPortlet .CaptionItem .TitleContentNormalNews:hover {
	text-decoration: underline;
}

.UIPCLVPortlet .CaptionItem .LineNormalNews {
	height: 1px;
	background: #dbdbdb;
}

.UIPCLVPortlet .UIFormGrid {
	margin: 0;
}

.UIPCLVPortlet .HorizontalLayout .UIFormInputSet{
	padding: 0;
}

.UIPCLVPortlet .HorizontalLayout .FormContainer{
	padding: 0;
}

.UIPCLVPortlet .UIPageSelector {
	margin: 0;
	width: auto;
}
.UIPCLVPortlet #UIPageNodeSelector {
	float: left;
	width: 49%;
}
.UIPCLVPortlet .MiddleRightContainerOptions {
	width: 200%;
}

.UIPCLVPortlet .UIPageNodeSelector {
	width: 100%;
}

.UIPCLVPortlet #UIPageSelectorPanel {
	float: left;
	width: 49%;
}

.UIPCLVPortlet .CaptionFunc {
    padding: 10px 0;
    height: 1%;
    overflow: hidden;
}

.UIPCLVPortlet .CaptionFunc .CaptionRefresh {
    width: 200px;
    float: left;
}

.UIPCLVPortlet .CaptionFunc .CaptionRefresh a {
    display: block;
    padding: 0 3px 3px 25px;
    background: url('DefaultSkin/images/RefreshIcon.gif') no-repeat;
    color: #ff4200;
    font-weight: bold;
    font-size: 13px;
    margin-left: 25px;
}