.UIPCLVHotNews {
	border: 1px solid #EDEDEE;    
	background: #fff;
}

.UIPCLVHotNews .TopBoxParameterized {
/*	background: url('DefaultSkin/images/BGTopBox.gif') repeat-x left top;*/
/*	border: 1px solid #cbe2f4;*/
	line-height: 30px;
	padding: 0px 5px;
	margin-bottom: 1px;
}

.UIPCLVHotNews .TopBoxParameterized .Title {
	/*float: left;*/
	color: #666666;
	font-weight: normal;
	font-size: 18px;
	float: left;
}

.UIPCLVHotNews .TopBoxParameterized .RssIcon {
	background: url('images/RSS.gif') no-repeat left top;
	padding-left: 22px;
	float: right;
	color: #fe9832;
	display: block;
	margin-top: 9px;
	line-height: 16px;
	font-size: 11px;
}

.UIPCLVHotNews .CaptionItem {
	padding: 5px;
}

.UIPCLVHotNews .CaptionItem .ContentNormalNews {
	color: #6b6b6b;
}

.UIPCLVHotNews .CaptionItem .TitleContentNormalNews {
	color: #565759;
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
}

.UIPCLVHotNews .CaptionItem .TitleContentNormalNews:hover {
	text-decoration: underline;
}

.UIPCLVHotNews .CaptionItem .LineNormalNews {
	height: 1px;
	background: #dbdbdb;
}

.UIPCLVHotNews .CaptionItem .HotNews {
	background: none;
}

.UIPCLVHotNews .CaptionItem .Date {
	background: none;
	color: #999999;
	font-weight: normal;
	font-size: 10px;
}

.UIPCLVHotNews .CaptionItem .ImageHotNews {
	float: right;
}

.UIPCLVHotNews .CaptionItem .TitleContentHotNews {
	color: #565759;
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
}

.UIPCLVHotNews .CaptionItem .TitleContentHotNews:hover {
	text-decoration: underline;
}

.UIPCLVHotNews .CaptionItem .NormalNews {
	margin-top: 25px;
}

.UIPCLVHotNews .CaptionItem .ImageNormalNews {
	float: left;
	padding-right: 17px;
}