.UIPermissionSetting .SelectUser {
	width: 16px; height: 16px;
	background: url('DefaultSkin/SmallUserIcon.gif') no-repeat;  
	cursor: pointer;
}

.UIPermissionSetting .SelectMember {
	width: 16px; height: 16px;
	background: url('DefaultSkin/SmallMemberIcon.gif') no-repeat;  
	cursor: pointer;
}

.UIPermissionSetting .AddAny {
	width: 16px; height: 16px;
	background: url('DefaultSkin/SmallGroupIcon.gif') no-repeat;  
	cursor: pointer;
}