.UIItemSelector .Presentation {
	height:170px;
	margin:auto;
	width:270px;
	background: url('background/presentation.gif') no-repeat center;	
}

.UIItemSelector .Search {
	height:170px;
	margin:auto;
	width:270px;
	background: url('background/search.gif') no-repeat center;	
}

.UIItemSelector .Sitemap {
	height:170px;
	margin:auto;
	width:270px;
	background: url('background/sitemap.gif') no-repeat center;	
}