/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
@import url("../../../icons/DefaultStylesheet.css");
@import url("../browser/DefaultStylesheet.css");


{
  *width: 99.7%; /* Bug on IE */
  margin: auto;
}

.UISimplePresentationPortlet .Separator {
  width: 2px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}

/*############################## -- End UIJCRExplorer -- ##############################*/

.UISimplePresentationPortlet .WorkingAreaWithHelp {
  width: 97%;
  margin: 0px auto;
}

.UISimplePresentationPortlet .UIFormWithTitle {
  width: 95%;
  margin: 15px auto;
  border: solid 1px #b7b7b7;
}

.UISimplePresentationPortlet .WorkingAreaWithHelp .UIFormWithTitle {
  width: auto;
  margin: 0px auto;
  background: #efefef;
  border: solid 1px #b7b7b7;
  border-top: none;
}

.UISimplePresentationPortlet .WorkingAreaWithHelp .UIFormWithTitle .UITabContentContainer {
	width: 95%;
}

.UISimplePresentationPortlet .UICompareExactlyForm .UIFormWithTitle {
  margin: 0px auto;
  background: #efefef;
  border: solid 1px #939393;
  width: 97%;
  margin: 10px 0px 10px 5px;
}

.UISimplePresentationPortlet .UIFormGrid input {
  padding-left: 3px;
}

.UISimplePresentationPortlet .UIFormGrid textarea {
  padding: 3px;
}

.UISimplePresentationPortlet .UIFormGrid select {
  padding-left: 3px;
}

.UISimplePresentationPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
}

.UISimplePresentationPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
 	padding: 4px 8px 4px 0px;
}

.UISimplePresentationPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

.UISimplePresentationPortlet .HorizontalLayout{
	padding-top: 10px;
	background: #efefef;
}

.UISimplePresentationPortlet .UITabPane .TabPaneContent .UITabContentContainer .UITabContent {
	background: #efefef;
	border: none;
}

.UISimplePresentationPortlet .UIWorkingArea .UIContextMenuContainer {
	width: 120px;
}
	
}
/*############################## -- Begin UIDocumentWorkspace -- ##############################*/

.UISimplePresentationPortlet .UIListView  {
	border: solid 1px white;
	border-top: none;
}

.UISimplePresentationPortlet #UIDocumentWithTree .UIListView  {
	background: white;
	border: 1px solid #b7b7b7;
}

.UISimplePresentationPortlet .UIListView .UIGridControl {
  float: left;      
  font-size: 11px ;
}

.UISimplePresentationPortlet .UIListView .UIGridControl th {
  line-height: 19px;
  text-align: left;
  padding: 0px 5px;
  border: solid 1px #b7b7b7;
  border-top: none; border-left: none;
  font-weight: normal;
  background: url('DefaultSkin/background/ThGridRepeatBg1x19.gif') repeat-x center;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .OverHeader {
  background: url('DefaultSkin/background/OverThGridRepeatBg1x19.gif') repeat-x center;
}

.UISimplePresentationPortlet .UIListView .UIGridControl td {
  line-height: 24px;
  padding: 0px 5px;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .HeaderLabel {
  float: left;
  font-size: 11px ;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .SortButton {
  float: left;
  margin: 2px 5px 0px 2px;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .Icon16x16 {
  float: left;
  margin: 3px 5px 0px 2px;
  width: 16px; height: 16px;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .NodeLabel {
  padding-left: 5px;
  color: #058ee9;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .NodeLabel a {
  color: #0766e7;
}

.UISimplePresentationPortlet .UIListView .UIGridControl .NodeLabel a:hover{
  color: #fb8404;
}

/*############################## -- Begin MenuPopup -- ##############################*/

.UISimplePresentationPortlet  .UIActionListContainer .UIFormWithTitle  {
  margin: 10px auto;
  width: 95%;
  border: none;
}

.UISimplePresentationPortlet  .UIActionListContainer .UIFormGrid input {
  float: left;
}

.UISimplePresentationPortlet .UIMenuPopup {
  height: 23px;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent {
  border: solid 1px #6a6a6b;
  background-color: white;
  width: 150px;
  position: absolute;
  display: none;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .SelectContentContainer {
  border: solid 1px #b7b7b7;
  background-color: #f4f4f4;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .NormalItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .SelectedItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .SelectedNav {
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .ItemIcon {
  float: left;
  margin: 6px 6px 3px 6px;
  width: 16px;
  height:16px;
}

.UISimplePresentationPortlet .UIUploadContent .ItemIcon {
  float: left;
  width: 16px;
  height:16px;
  margin: 0px 6px 3px 6px;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .ItemLabel {
  font-size: 11px;
  margin-left: 10px;
}

.UISimplePresentationPortlet .UIMenuPopup .UISelectContent .SeparatorLine {
  margin: 5px;
  background: #919192;
  height: 1px;
}

.UISimplePresentationPortlet .UIMenuPopup .SubMenu {
  margin-left: 130px ;
  background: #ffffff ;
}

.UISimplePresentationPortlet .UIMenuPopup .MenuItemContainer {
  padding-left: 10px ;
}
/*############################## -- End UIMenuPopup   -- ##############################*/
.UISimplePresentationPortlet .UIThumbnailsView {
}

.UISimplePresentationPortlet #UIDocumentWithTree .UIThumbnailsView {
	background: white;
	border: 1px solid #b7b7b7;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIconsContainer {
  padding-left: 10px;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIconBox {
  width: 90px;
  float: left;
  margin: 10px 3px 5px 3px;
  height: 110px;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIconContainer {
  width: 70px;
  height: 70px;
  border: solid 1px #eeeeee;
  background: #f8f8f8;
  margin: auto;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIcon {
  width: 50px;
  height: 50px;
  margin: 9px auto 0px auto;
}

.UISimplePresentationPortlet .UIThumbnailsView .Icon48x48 {
  width: 48px;
  height: 48px;
  margin: auto;
  cursor: pointer;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIconLabel {
  text-align:center;
  width: 100px;
  line-height: 24px;
  font-size: 11px;
  margin: auto;
  height: 30px;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIconLabel a {
  color: #000000;
  text-align:center;
  cursor: pointer;
}

.UISimplePresentationPortlet .UIThumbnailsView .ActionIconLabel a:hover {
  color: blue;
}

/*############################## -- End UIThumbnailsView -- ##############################*/

.UISimplePresentationPortlet .UISearchContainer .UITabPane .UIGrid td {
	padding: 4px 3px 0px 5px;
}

.UISimplePresentationPortlet .UISearchContainer .UITabContent .UISearchResult {
	width: 97%;
	margin: auto;
}

.UISimplePresentationPortlet .UIDocumentWorkspace .UISearchResult {
	width: 97%;
	margin: 10px auto;
}

.UISimplePresentationPortlet .UIDocumentWorkspace .UISearchResult .UIPageIterator{
	width: 100%;
	margin: 5px 0px 0px 0px;
	overflow:hidden;
}

.UISimplePresentationPortlet .UIPopupWindow .UITabContent .UIArticle {
	border: solid 1px #cdcdcd;
	padding: 5px;
}

/*############################## -- BEGIN UIDocumentInfo -- ##############################*/

.UISimplePresentationPortlet .UIDocumentWorkspace .TitleBG {
	height: 18px;
  background: url('/ecm/skin/images/event/EventFrameBG.gif') repeat-x;
}

.UISimplePresentationPortlet .UIDocumentWorkspace .HeaderBG {
  background: url('/ecm/skin/images/event/EventFrameBG.gif') repeat-x; 
  margin-bottom: 1px;
  padding: 0px 5px 0px 5px; 
  height: 18px;
  border: solid 1px #bdbdbd;
  border-bottom: none;
}

/*############################## -- END UIDocumentInfo -- ##############################*/

/*===========================Folder Form=====================*/

.UISimplePresentationPortlet .UIFolderForm {
	margin: 10px auto;
	width: 560px;
	background: #efefef;
}

/*===========================DocumentFormController=====================*/

.UISimplePresentationPortlet .UIDocumentFormController {
	padding: 10px;
}

.UISimplePresentationPortlet .UIDocumentFormController .TabPaneContent .UITabContentContainer {
  border: none;
}

.UISimplePresentationPortlet .UIDocumentFormController .UIFormWithTitle {
  margin-top: 5px;
  background: #efefef;
}

.UISimplePresentationPortlet .UIDocumentFormController .UISelectDocumentForm .HorizontalLayout {
	padding-bottom: 10px;
}

.UISimplePresentationPortlet .UIDocumentFormController .TabPaneContent .UIFormWithTitle {
  width: auto;
}

.UISimplePresentationPortlet .UIDocumentFormController .TabPaneContent {
  margin: 5px;
}

.UISimplePresentationPortlet .ProgressBarFrame { 
	width: 310px;
	overflow: hidden;
	margin: 0px;
}

.UISimplePresentationPortlet .SelectFileFrame { 
	width: auto;
	overflow: hidden;
	margin: 0px;
}

.UISimplePresentationPortlet .FileNameLabel {
	width: auto;	
}

.UISimplePresentationPortlet .UITabPane .TabPaneContent .WorkingAreaWithHelp .UIHorizontalTabs {
  _width: 99.2%;
}

.UISimplePresentationPortlet .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: solid 1px #939393;
  border-top: none;
  _width: 99%;
}

.UISimplePresentationPortlet .WorkingAreaWithHelp .UITabContentContainer .FileContent .NavigationContainer {
  border: solid 1px #939393;
  border-top: none;
  padding-bottom: 0px;
}

.UISimplePresentationPortlet .WorkingAreaWithHelp .UITabContentContainer .FileContent .Content {
  padding: 0px;
  width: 100%;
}

.UISimplePresentationPortlet .WorkingAreaWithHelp .UITabContentContainer .FileContent .TopTitle {
	background: url(/ecm/skin/images/file/TitleBG1x21.gif) repeat-x ;
}

.UISimplePresentationPortlet .UIDocumentFormController .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: none;
  background: #efefef;
}

.UISimplePresentationPortlet .WorkingAreaWithHelp .UIFormWithTitle .HorizontalLayout .UITabContentContainer {
  border: none;
  background: #efefef;
}

.UISimplePresentationPortlet .UIDocumentFormController .UITabPane .WorkingAreaWithHelp .UITabContentContainer td.FieldLabel {
  width: 160px;
}

.UISimplePresentationPortlet .UIDocumentFormController .UITabPane .TabPaneContent .UITabContentContainer .UITabContent {
  border: none;
}

/*=============================UIWatchDocumentForm=======================*/

.UISimplePresentationPortlet .UIWatchDocumentForm {
  padding: 10px 0px;
  width: 550px;
  margin: auto;
}

.UISimplePresentationPortlet .UIWatchDocumentForm .FormContainer {
  width: 450px;
  margin: auto;
}

/*=============================UITaggingForm=======================*/

.UISimplePresentationPortlet .UITaggingForm {
  padding: 10px 0px;
  width: 550px;
  margin: auto;
}

.UISimplePresentationPortlet .UITaggingForm .UIFormGrid td.FieldLabel {
  width: 90px;
}

.UISimplePresentationPortlet .UITaggingForm .UIFormGrid .Introduction {
  padding-left: 5px;
  color: #ef5604;
}

.UISimplePresentationPortlet .UITaggingForm .ActionField {
	float: left ;
	margin-bottom: 3px;
}

/*==================================UIMultiLanguageForm==============================*/

.UISimplePresentationPortlet .UIMultiLanguageForm .UIFormWithTitle .HorizontalLayout  {
  border: none;
}

.UISimplePresentationPortlet .UIMultiLanguageForm .FormContainer {
  width: 500px;
  margin: auto;
}

/*===============================UILanguageTypeForm===================================*/

.UISimplePresentationPortlet .UIAddLanguageContainer .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: none;
  background: #efefef;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .WorkingAreaWithHelp .UIFormWithTitle {
  width: auto;
  border: solid 1px #939393;
  border-top: none;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .UIUploadManager .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: solid 1px #939393;
  border-top: none;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .UIUploadManager .FormContainer .UIFormGrid{
  width: 500px;
  margin: auto;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .UIUploadManager .UIFormWithTitle {
	border: none;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .UIFormWithTitle {
	border: solid 1px #939393;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .UILanguageTypeForm .UIFormWithTitle {
	border: solid 1px #939393;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.UISimplePresentationPortlet .UIAddLanguageContainer .UILanguageTypeForm .UIFormWithTitle .UIFormGrid {
	width: 500px;
	margin: auto;
}

/*=============================UICommentForm=======================*/

.UISimplePresentationPortlet .UICommentForm  {
  padding: 10px;
}

/*================================UISimpleSearch=================================*/

.UISimplePresentationPortlet .UISimpleSearch .FormContainer .InforField {	
	margin: 5px 0px;
}

.UISimplePresentationPortlet .UISimpleSearch .FieldComponent .UIFormGrid {
	width: 510px;
}

.UISimplePresentationPortlet .UISimpleSearch .UIFormGrid .FieldComponent .FieldLabel {
}

.UISimplePresentationPortlet .EditQueryForm {
  padding: 10px;
}

.UISimplePresentationPortlet .UISaveQueryForm  {
 	padding: 10px;
}

.UISimplePresentationPortlet .UISaveQueryForm .UIFormGrid .FieldLabel {
  width: 80px;
}

/*================================UIJCRAdvancedSearch=================================*/

.UISimplePresentationPortlet .UIJCRAdvancedSearch .FormContainer {
  width: 550px;
  margin: auto;
}

.UISimplePresentationPortlet .UIJCRAdvancedSearch .HorizontalLayout textarea {
  padding: 3px;
}

/*================================UIConstraintsForm=================================*/

/*================================UIMetadataSelectForm=================================*/

.UISimplePresentationPortlet .UIMetadataSelectForm {
	width: 95%;
	margin: 10px auto;
}

/*================================UINodeTypeSelectForm=================================*/

.UISimplePresentationPortlet .UISearchContainer .UINodeTypeSelectForm {
	width: 95%;
	margin: 10px auto;
}

.UISimplePresentationPortlet .UISearchContainer .UISelectPropertyForm {
	padding: 10px;
}

.UISimplePresentationPortlet .UISearchContainer .UISelectPropertyForm td.FieldLabel {
  text-transform: capitalize;
}

/*================================UIActivateVersion=================================*/

/*================================UIActionContainer=================================*/

.UISimplePresentationPortlet .UIActionContainer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer{
  border: solid 1px #b7b7b7;
  border-top: none;
}

.UISimplePresentationPortlet {
	_width: 99.5%;
	margin: auto;
	padding: 10px 0px;
}

.UISimplePresentationPortlet .UIWorkspaceList {
	padding-bottom: 8px ;
	width: 98.5%;
}

.UISimplePresentationPortlet .UIWorkspaceList .UIFormWithTitle {
	border: solid 1px white;
	width: 100%;
}

.UISimplePresentationPortlet .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UISimplePresentationPortlet .UIFormWithTitle .HorizontalLayout {
	background: white;
	padding: 5px 0px;
}

.UIPopupWindow .UITabPane .UISimplePresentationPortlet .UIWoUISimplePresentationPortlet.UIFormWithTitle .FieldLabel{
	width: 100px;
}

.UISimplePresentationPortlet .UIActionContainer  {
	border: none;
}

.UISimplePresentationPortlet .UIActionContainer .UIFormWithTitle  {
	border: none;
}

.UISimplePresentationPortlet .UIActionContainer .UIFormGrid .FieldComponent .ActionIcon {
  margin-left: 5px;
  float: none;
}

/*================================UIActionList=================================*/

/*================================UIPropertyForm=================================*/

.UISimplePresentationPortlet .UIPropertyForm .HorizontalLayout .UIFormGrid {
  width: 500px;	
  margin: auto;
}

.UISimplePresentationPortlet .UIPropertyForm .FieldComponent .MultiValueContainer  {
	overflow: hidden;
}

/*================================.UIExportNode=================================*/

.UISimplePresentationPortlet .UIExportNode .UIFormGrid {
  width: 400px;
  margin: auto;
}

.UISimplePresentationPortlet .UIExportNode .UIForm .HorizontalLayout {
  border: none;
}

.UISimplePresentationPortlet .UIExportNode .UIFormWithTitle {
  border: solid 1px #b7b7b7;
}

/*================================.UIImportNode=================================*/

.UISimplePresentationPortlet .UIImportNode .UIForm .HorizontalLayout {
  border: none;
}

.UISimplePresentationPortlet .UIImportNode .UIFormWithTitle {
  border: solid 1px #b7b7b7;
}

.UISimplePresentationPortlet .UIImportNode .UIFormWithTitle .FileNameLabel {
  width: auto;
}

/*================================UIReferencesList=================================*/

.UISimplePresentationPortlet .UIReferencesList {
  padding: 10px;
}

.UISimplePresentationPortlet .UIReferencesList .UIPageIterator {
  width: 98%;
}

/*================================UIPermissionManager=================================*/

.UISimplePresentationPortlet .UIPermissionManager {
  width: 95%;
  margin: auto;
  padding-top: 10px;
}

.UISimplePresentationPortlet .UIPermissionManager .UIGroupMembershipSelector .MembershipTitle {
	border: none;
  border-bottom: solid 1px #b7b7b7;
}

.UISimplePresentationPortlet .UIPermissionManager .UIFormWithTitle {
  padding-bottom: 10px;
  border: none;
}

.UISimplePresentationPortlet .UIPermissionManager .UIPermissionInfo {
  padding-bottom: 8px;
}

.UISimplePresentationPortlet .UIPermissionInfo .ActionContainer {
  width: 50px;
}

.UISimplePresentationPortlet .UIPermissionManager .UIFormWithTitle .HorizontalLayout .FormContainer {
  padding: 0px;
  border: none;
  background: #efefef;
  width: 500px;
  margin: auto;
}

.UISimplePresentationPortlet .UIPermissionManager .UIPermissionForm .UIFormInputSet .AddIcon16x16 {
  margin-left: 5px;
  float: none;
}

/*================================DecoratorBoxNested=================================*/

.UISimplePresentationPortlet .UIPropertyTab .UIGrid .Icon16x16{
  margin-right: 3px;
}

.UISimplePresentationPortlet .UIPropertyTab .MultiValue {
  width: 70px;
  margin: auto;
}
/*===========================UIUploadForm====================*/

.UISimplePresentationPortlet .UIUploadManager {
  padding: 10px;
}

.UISimplePresentationPortlet .UIUploadManager .UIUploadContainer .UITabPane {
	width: 95%;
	margin: 10px auto;
	padding: 0px;
}

.UISimplePresentationPortlet .UIUploadManager .UIExternalMetadataForm {
  padding: 10px;
}

.UISimplePresentationPortlet .UIUploadManager .WorkingAreaWithHelp .UIFormWithTitle {
  border: none;
}

.UISimplePresentationPortlet .UIUploadManager .UIUploadForm .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UISimplePresentationPortlet .UIUploadManager .UIUploadForm .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UISimplePresentationPortlet .UIUploadManager .UIUploadForm .FileNameLabel {
	width: auto;
}

.UISimplePresentationPortlet .UIUploadManager .WorkingAreaWithHelp {
  width: 100%;
}

.UISimplePresentationPortlet .UIPopupWindow .UIWindowContent .Content .UIUploadManager .UITabPane {
  width: 98%;
  padding: 0px;
}

/*================================UINodeTypeInfo=================================*/

.UINodeTypeInfo .NavigationButtonContainer {
    display: none;
    float: right;
    cursor: pointer;
}

/*================================UIGrid=================================*/

.UISimplePresentationPortlet .UIGrid .OddRow {
  background: #fbfbfb;
}

.UISimplePresentationPortlet .UIGrid tr {
  background: #f3f3f3;
}

/*=================================UITabContentContainer==============================*/

.UISimplePresentationPortlet .UITabContentContainer .UITabContent .UIActionViewContainer .UIGrid td {
  border-top: solid 1px #cccccc;
}

.UISimplePresentationPortlet .UIPermissionManager .UIGroupMembershipSelector {
	padding: 10px;
}

.UIPermissionManager .UIGroupMembershipSelector .GroupSelector {
	border: 1px solid #b7b7b7;
}

.UIPermissionManager .UIGroupMembershipSelector .MembershipTitle {
	border: none;
	border-bottom: 1px solid #b7b7b7;
}

.UIPermissionManager .UIGroupMembershipSelector .MembershipSelector {
	border: solid 1px #b7b7b7;
}

.UIPermissionManager .UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
	border: none;
}

.UIGroupMembershipSelector .MembershipSelector .OverflowContainer .Icon16x16{
	float: left;
	margin: 4px 3px 0px 3px;
}
/*=================================UICategoryManager==============================*/

.UITabPane {
	padding: 10px;
}

.UIWorkspaceList .UIFormGrid select{
	width: 100px;
}

.UISimplePresentationPortlet .UIRelationManager .UITabPane {
	width: 95%;
	margin: 10px auto;
	padding: 0px;
}

.UIRenameForm {
	padding: 10px;
}

.UIRenameForm .HorizontalLayout {
	background: #efefef;
	padding-top: 10px;
}

.UIRenameForm .FormContainer {
	width: 500px;
	margin: auto;
}

.UIJCRExplorer  .WorkKofax .UIGrid {
	border-top: none;
}

.WorkKofax .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}

/*====================================UIActivateVersion==================================*/

.UIActivateVersion {
	border: solid 1px #b7b7b7;
	margin: 10px;
	background: #efefef;
}

/*================================ UIViewMetadataManager ====================================*/

.UISimplePresentationPortlet .UIViewMetadataManager .UITabPane {
  width: 95%;
  margin: 10px auto;
  padding: 0px;
}

/*=============================== UIConstraintsForm =======================================*/

.UISimplePresentationPortlet .UIConstraintsForm .UIFormWithTitle {
  background:#EFEFEF none repeat scroll 0%;
  border: 1px solid #b7b7b7;
  margin-top: 5px;
  padding-left: 5px;
  width: 98.8%;
}

.UISimplePresentationPortlet .PopupContent .WorkingAreaWithHelp .UIHorizontalTabs {
  _width: 99.1%;
}

.UISimplePresentationPortlet .UISearchContainer .UISimpleSearch {
  _width: 98.8%;
}

.UISimplePresentationPortlet .UISearchContainer .UIConstraintsForm {
  _width: 98.8%;
}
/*====================================UISavedQuery==================================*/

.UISavedQuery {
	padding: 10px;
}

.EmptyGrid {
  width: 100px ;
  padding: 5px 0px 10px 0px;
  font-style: italic;
  margin: auto;
}

/*====================================UIPropertyTab==================================*/

.UIPropertyTab {
	width: 95%;
	margin: auto;
	padding: 10px 0px;
}

/*====================================MultiValueContainer==================================*/

.MultiValueContainer .MultiFieldAction {
	margin-left: 5px;
	height: 18px;
	background-position: center;
}

.MultiValueContainer .UIFormUploadInput {
	margin-bottom: 5px;
	float: left;
}

.MultiValueContainer .UIFormUploadInput .MultiFieldAction {
	margin: 4px 3px 0px 3px;
}

.MultiValueContainer .UIFormUploadInput .FileNameLabel {
	width: auto;
}

/*====================================UIDivInfo==================================*/

.UIDivInfo .UITabPane {
	width: 97%;
	padding: 0px; 
	margin: auto;
}
/*############################## -- End UIDocumentWorkspace -- ##############################*/

/*====================================UINodesExplorer==================================*/
.UISimplePresentationPortlet .UITabPane .UITabContentContainer .UINodesExplorer {
	width: 95%;
	margin: auto;
	padding: 10px 0px;
}

.UISimplePresentationPortlet .UITabPane .UITabContentContainer .UIForm {
	border: 1px solid #B1B0B0;
	padding: 1px;
}

.UISimplePresentationPortlet .UITabPane .UITabContentContainer .UIFormWithTitle {
	width: 100%;
	border: 1px solid white;
}

.UISimplePresentationPortlet .UITabContent .Explorer {
	padding-top: 10px;
}

.UISimplePresentationPortlet .UITabContent .Explorer .ExplorerTree {
	background-color: #F3F3F3;
	border: 1px solid #C6C6C9;
	margin-top: 1px;
	padding: 1px;
}

.UISimplePresentationPortlet .UITabContent .UINodesExplorer .UITreeList {
	margin-left: 240px;
	padding-top: 13px;
}

.UISimplePresentationPortlet .UINodesExplorer .UITreeList .UIGrid {
	width: 100%;
}


/*========================================================================================*/
.EditPortletIcon{
	background:url('DefaultSkin/background/EditIcon.gif') no-repeat scroll left top;
	float:right;
	height:16px;
	padding-left:15px;
	margin: 3px;
}