.UIWCMSearchPortlet .UIDefaultSearchBox .SearchBox {
	padding: 5px;
}

.UIWCMSearchPortlet .UIDefaultSearchBox .SearchBox .KeywordInput {
	float: left;
}

.UIWCMSearchPortlet .UIDefaultSearchBox .SearchBox .KeywordInput input {
	border: 1px solid gray;
	width: 300px;	
}

.UIWCMSearchPortlet .UIDefaultSearchBox .SearchBox .SearchBoxIcon {
	margin-left: 305px;	
	width: 16px;
	height: 16px;
  background: url(icons/SearchIcon.png) no-repeat right;	
	cursor: pointer;
}