@import url("config/icons/16x16/DefaultStylesheet.css");
@import url("config/Stylesheet.css");
.UISingleContentViewerPortlet {
	overflow: auto;
}
.ShowStepInfo {
	background: url('icons/24x24/HelpIcon.png') no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.UIWelcomeScreen {
	border: 1px #C6C6C6 solid;
	width: 98%;
	height: auto;
	margin: auto;
}

.UISingleContentViewerPortlet .UIWizardPageSetInfo .OverflowContainer .PageNodeContainer {
	display: none;
}

.UISingleContentViewerPortlet .UIWizardPageSetInfo .OverflowContainer .SelectedPageInfo {
	margin-left: 0;
}

.QuickEditContainer {
	border: 1px solid green;
}

.QuickEditBackButton {
	text-align: right;
	color: #0066FF;
	margin:10px;
	padding:10px;
}