.UISiteAdministrationPortlet {
	position: relative;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar {	
	background: url('DefaultSkin/icons/IconTopToolBar.gif') repeat-x scroll 0 0;	
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .HozIcon {
	line-height: 32px;	
	padding-left: 35px;
	padding-right: 5px;		
	float: right;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .OnOffAction {
	background: url('DefaultSkin/icons/BackgroundOnOff.gif') repeat-x scroll 0 0;	
	float:right; 
	line-height:32px; 
	white-space: nowrap;
	padding: 0px 10px;
	font-weight:bold;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .OnOffAction a{
	float: left;
}


.UISiteAdministrationPortlet .UISiteAdminToolBar .OnOffAction div {
	float: left;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .MoreActionsMenu .Magic {
	display: none;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .TopToolbarMenuItem {
	
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .VerIcon {	
	line-height: 32px;	
	padding-left: 35px;	
	display: block;		
}

.UISiteAdministrationPortlet .UISiteAdminToolBar a.HozIcon:hover {	
	background-color: #d7d7d7;
	height: 30px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar a.VerIcon:hover {	
	background-color: #d7d7d7;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SeparationIcon {
	float: right;	
	width: 3px;
	height: 30px;
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -320px;
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -320px;	
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditPageAndNavIcon {	
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -512px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -512px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AddContentIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -256px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -256px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SkinSettingsIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -352px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -352px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .BrowsePortalIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -448px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -448px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .BrowsePageIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -480px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -480px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AddPageIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -128px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -128px; /* orientation=rt */  
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditPageIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -160px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -160px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditPortalIcon {	
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -192px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -192px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .CreatePortalIcon{
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -224px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -224px; /* orientation=rt */
}


.UISiteAdministrationPortlet .UISiteAdminToolBar .LanguageSettingsIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -384px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -384px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AccountSettingsIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -416px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -416px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .ViewMoreIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -288px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -288px; /* orientation=rt */	
	cursor: pointer;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .LogoutIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -64px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -64px; /* orientation=rt */	
	cursor: pointer;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .ChangePortalIcon {
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat left -96px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconTopToolBar.gif') no-repeat right -96px; /* orientation=rt */	
	cursor: pointer;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .MoreActionsMenu {
	border: 1px solid gray;
	background-color: white;
	padding: 10px;		
	position: absolute;
	top: 32px;
	z-index: 1;
	display: none;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .ExoLogo {
	background: url('DefaultSkin/icons/eXoLogo.gif') no-repeat left center;
	height: 32px;
	width: 51px;
	float: left;	
}


.UISiteAdministrationPortlet .UISiteAdminToolBar .BoxOnOff {
	background: url('DefaultSkin/icons/BGOnOff.gif') left top repeat-x;
	height: 20px;
	padding: 6px 8px;
	float: right;
}

/****** Select On *******/
.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOn .LeftSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat left top;
	padding-left: 27px;
	width: 33px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOn .RightSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat right top;
	padding-right: 3px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOn .CenterSelect {
	background: url('DefaultSkin/icons/onoff.gif') repeat-x left -17px;
	text-align: center;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #767676;
	cursor: pointer;
}

/****** Select Off *******/
.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOff .LeftSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat left -34px;
	padding-left: 3px;
	width: 57px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOff .RightSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat right -34px;
	padding-right: 27px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOff .CenterSelect {
	background: url('DefaultSkin/icons/onoff.gif') repeat-x left -51px;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-align: center;
}