.UISiteAdministrationPortlet {
	position: relative;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar {	
	background: url('DefaultSkin/icons/IconToolBar.gif') repeat-x scroll 0 0;	
	height: 32px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar a {
	display: block;
	padding-left: 30px;
	white-space: nowrap;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar a:hover {
	background-color: #a4a4a4;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .ExoLogo {
	background: url('DefaultSkin/icons/eXoLogo.gif') no-repeat left top;
	height: 30px;
	width: 54px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .TBItem {
	line-height: 30px;	
	float: left;
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -320px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .TBIcon {
	padding: 0px 13px 0px 35px;
	line-height: 30px;	
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .OnOffAction {
	background: url('DefaultSkin/icons/BackgroundOnOff.gif') repeat-x scroll 0 0;	
	float:right; 
	line-height:32px; 
	white-space: nowrap;
	padding: 0px 10px;
	font-weight:bold;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .OnOffAction a {
	float: left;
}


.UISiteAdministrationPortlet .UISiteAdminToolBar .OnOffAction div {
	float: left;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .BoxOnOff {
	height: 20px;
	padding: 6px 8px 6px 19px;
	float: right;
	/*float: left;*/
	margin-left: 20px;
}

/****** Select On *******/
.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOn .LeftSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat left top;
	padding-left: 27px;
	width: 33px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOn .RightSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat right top;
	padding-right: 3px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOn .CenterSelect {
	background: url('DefaultSkin/icons/onoff.gif') repeat-x left -17px;
	text-align: center;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #767676;
	cursor: pointer;
}

/****** Select Off *******/
.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOff .LeftSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat left -34px;
	padding-left: 3px;
	width: 57px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOff .RightSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat right -34px;
	padding-right: 27px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SelectOff .CenterSelect {
	background: url('DefaultSkin/icons/onoff.gif') repeat-x left -51px;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

/****************************/
.UISiteAdministrationPortlet .UISiteAdminToolBar .MenuItemContainer {	
	position: absolute;
	border: 1px solid #9d9d9d;
	z-index: 100;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .TitleBar {
	background: url('DefaultSkin/icons/IconToolBar.gif') repeat-x left -664px;
	height: 23px;
	line-height: 23px;
	color: #5e5e5e;
	font-weight: bold;
	padding: 0px 5px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .MenuItem {	
	height: 28px;
	line-height: 28px;
	border: 1px solid white;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .OddItem {	
	background: #f3f2f2;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EvenItem {	
	background: #e5e4e4;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .MenuItem .DefaultPageIcon {	
	background-position: 5px center;
}


/**********************************/
.UISiteAdministrationPortlet .UISiteAdminToolBar .DashboardIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -544px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SitesIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -574px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .GroupsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -604px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditorIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -160px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AdministratorIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -634px;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SiteIcon {
	background: url('DefaultSkin/icons/IconSite.gif') no-repeat 5px center;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditPageAndNavIcon {	
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -512px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -512px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AddContentIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -256px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -256px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .SkinSettingsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -352px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -352px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .BrowsePortalIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -448px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -448px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .BrowsePageIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -480px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -480px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AddPageIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -128px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -128px; /* orientation=rt */  
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditPageIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -160px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -160px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .EditPortalIcon {	
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -192px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -192px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .CreatePortalIcon{
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -224px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -224px; /* orientation=rt */
}


.UISiteAdministrationPortlet .UISiteAdminToolBar .LanguageSettingsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -384px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -384px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .AccountSettingsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -416px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -416px; /* orientation=rt */
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .LogoutIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -64px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -64px; /* orientation=rt */	
	cursor: pointer;
}

.UISiteAdministrationPortlet .UISiteAdminToolBar .ChangePortalIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -96px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -96px; /* orientation=rt */	
	cursor: pointer;
}
