.UISiteAdminToolBar {	
	height: 30px;
	padding-right: 10px;
	background-color: RGB(240, 240, 240);
}

.Icon {
	line-height: 30px;	
	padding-left: 25px;	
	margin-left: 15px;
	float: right;
}

.AddPageIcon {
	background: url('DefaultSkin/icons/AddPage.gif') no-repeat left center;  
}

.EditPageIcon {
	background: url('DefaultSkin/icons/EditPage.gif') no-repeat left center;
}

.EditPortalIcon {
	background: url('DefaultSkin/icons/EditPortal.gif') no-repeat left center;
}

.CreatePortalIcon{
	background: url('DefaultSkin/icons/AddPortal.gif') no-repeat left center;
}

.ChangePortalIcon {
	background: url('DefaultSkin/icons/Organization.gif') no-repeat left center;
}

.ExoLogo {
	background: url('DefaultSkin/icons/favicon.ico') no-repeat left center;
	height: 20px;
	width: 20px;
	float: left;
	margin: 5px;
}