.UIFooterViewMode {
  background: url('DefaultSkin/background/FooterBG.gif') repeat-x top;
  height: auto;
  margin: 0px;
}

.UIFooterViewMode .RepeatFooter {
  padding: 0px;
  margin: 0px;
}

.UIFooterViewMode .RepeatFooter .QuickEdit{
	float: right; 
	padding-bottom: 10px; 
	cursor: pointer;
}


.UIFooterViewMode .FooterInfoContainer {
  line-height: 25px ;
}

.UIFooterViewMode .CopyrightInfo {
  line-height: 25px;
  text-align: center;
}

.UIFooterPortlet .UITabContent textarea {
	font-size:11px;
	height: 200px;
	width: 500px;
}