/*==============================UIFooterPortlet=================================*/
.UIFooterPortlet {
  height: 32px ; line-height: 32px; 
  margin-top: 3px; padding-top: 3px;
}

.UIFooterPortlet .LeftFooter {
  background: url('VistaSkin/background/Footer.png') no-repeat left -32px;
  padding-left: 28px;
  height: 32px;
}

.UIFooterPortlet .RightFooter {
  background: url('VistaSkin/background/Footer.png') no-repeat right -66px;
  padding-right: 28px;
  height: 32px;
}

.UIFooterPortlet .RepeatFooter {
  background: url('VistaSkin/background/Footer.png') repeat-x top;
  height: 32px;
}

.UIFooterPortlet .RepeatFooter .QuickEdit{
	float: right; 
	padding-bottom: 10px; 
	cursor: pointer;
}

.UIFooterPortlet .FooterInfoContainer {
  width: 400px ;
  margin: auto ;
}

.UIFooterPortlet .CopyrightInfo {
  width: 398px ;
  margin-right: 5px ;
}

/*==============================UIFooterEditModeForm=================================*/
.UIFooterEditModeForm{

}

.UIFooterEditModeForm .UIFooterEditModeFormGrid{
	margin-top: 20px;
}

.UIFooterEditModeForm .UIFooterEditModeFormGrid textarea{
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 700px;	
	height: 150px;
}

.UIFooterEditModeForm .UIFooterEditModeFormGrid input.checkbox{
	width: auto;
	float: left; 
}
.UIFooterEditModeForm .UIFooterEditModeFormGrid td.FieldLabel{
	padding: 4px;
	float: right;	
	vertical-align: top;
}

.UIFooterEditModeForm .UIFooterEditModeFormGrid td.FieldComponent{
	padding: 4px;
}


/*==============================LightBlueStyle ActionButton=================================*/
.UIFooterEditModeForm .UIAction .LightBlueStyle{

}

.UIFooterEditModeForm .UIAction .LightBlueStyle .ButtonLeft {
  background: url('DefaultSkin/background/LightBlueStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIFooterEditModeForm .UIAction .LightBlueStyle .ButtonRight {
  background: url('DefaultSkin/background/LightBlueStyle.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIFooterEditModeForm .UIAction .LightBlueStyle .ButtonMiddle {
 	line-height: 22px; text-align: center; 
	background: url('DefaultSkin/background/LightBlueStyle.gif') repeat-x bottom;
	white-space: nowrap;
	display: table-cell;
	padding: 0px 12px;
}

.UIFooterEditModeForm .UIAction a.LightBlueStyle {
  color: #313131;
  margin: 0px 6px; white-space: nowrap;
}

.UIFooterEditModeForm .UIAction a:hover.LightBlueStyle {
  color: #1273df;
}

/*========================================================================================*/
.FooterQuickEdit{
	background:url('DefaultSkin/background/EditIcon.png') no-repeat scroll center top;
	float:right;
	height:16px;
	margin:3px 0px;
	padding-left:50px;
}