.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult {
    border: 1px solid #b7b7b7;
    padding: 10px;
    margin: 10px;
    background: #fff;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .SearchItem {
    padding-top: 10px;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemTitle a {
    font-size: 14px;
    color: #0385d9;
    font-weight: bold;
    padding-left: 20px;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemExcerpt {
	color: black;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemInfo {
	color: green;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemUrl {
	
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemSize {

}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemSame a {
	color: #9977DF;
	text-decoration: underline;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemDetails {
	display: none;
	padding-left: 15px;
}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemScore {

}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemNone {

}

.UIWCMSearchPortlet .UIAdvanceSearchResultDefault .SearchResult .ItemFunc {
    padding: 10px 0;
    height: 1%;
    overflow: hidden;
}