.UINewsletterPortlet {
	padding:10px;
	min-height: 500px;
	width: 100%;
}

.UINewsletterPortlet .BreadCumbs{
	padding:5px;
	color:#9797FF;
	font-weight:bold;
}

.UINewsletterPortlet .BreadCumbs .ItemContent{
	cursor:pointer;
	font-size:12px;
}

.UINewsletterPortlet .ActionManager{
	padding:5px 10px;
	height:30px;
	line-height:30px;
}

.UINewsletterPortlet .ActionManager .ActionTitle{
	float:left;
	color:blue;
	font-weight:bold;
	cursor:pointer;
	width:auto;
}

.UINewsletterPortlet .UICategories{
	border:2px solid gray;
	padding:10px;
	margin:5px 10px;
	height:auto;
}

.UINewsletterPortlet .UICategories .ViewCategoryName{
	font-weight:bold;
}

.UINewsletterPortlet .UICategories .Subscriptions{
	border:1px solid gray;
	margin:5px 10px 10px 5px;
}

.UINewsletterPortlet .UICategories .Subscriptions .Header{
	background:#CCCCCC;
	heigth:20px;
}

.UINewsletterPortlet .UICategories .Subscriptions .Header .ContentView{
	border-left:1px solid black;
	height:30px;
	line-height:30px;
}

.UINewsletterPortlet .UICategories .Subscriptions .SubcriptionInfor{
	background:#EDF3EE;
	padding:5px
}

.UINewsletterPortlet .UICategories .Subscriptions .SubcriptionInfor .Infor{
	border-left:1px solid black; 
	heigth:24px;
	line-height:24px;
	border-bottom: 1px solid white;
	padding-left:5px;
}


.UICategoryForm .SelectUserIcon {
	width: 16px; 
	height: 16px;
	background: url('icons/16x16/SmallUserIcon.gif') no-repeat;  
	cursor: pointer;
}

.UICategoryForm .SelectMemberIcon {
	width: 16px; 
	height: 16px;
	background: url('icons/16x16/SmallMemberIcon.gif') no-repeat;  
	cursor: pointer;
}

#UINewsletterEntryWebcontentSelectorForm .SelectWebcontentIcon {
	width: 16px; 
	height: 16px;
	background: url('icons/16x16/MagnifierIconNews.png') no-repeat;  
	cursor: pointer;
}