.UIItemSelector .Presentation {
	height:170px;
	margin:auto;
	width:270px;
	background: url('images/presentation.gif') no-repeat center;	
}

.UIItemSelector .Search {
	height:170px;
	margin:auto;
	width:270px;
	background: url('images/search.gif') no-repeat center;	
}

.UIItemSelector .Sitemap {
	height:170px;
	margin:auto;
	width:270px;
	background: url('images/sitemap.gif') no-repeat center;	
}

.QuickEdit{
	background:url('images/quickEdit.png') no-repeat scroll left top;
	height: 30px;
	width: 65px;
	padding-left: 0px;
	float: right;
}

.UIItemSelector .ItemDetailList .TemplateContainer .ClassicSiteImage {
 	background:transparent url(images/classic.png) scroll center;
	height:222px;
	margin-top:9px;
}

.UIItemSelector .ItemDetailList .TemplateContainer .ACMESiteImage {
 	background:transparent url(images/Acme.png) no-repeat center;
	height: 235px;
	width: 296px;
	margin: 3px auto;
}