.exo_webContent {
	background: url('277x182/freeLayoutWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_twoColumnsWebcontent {
	background: url('277x182/twoColumnsWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_pictureOnHeadWebcontent {
	background: url('277x182/pictureOnHeadWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_siteSearchBox {
	background: url('277x182/siteSearchBoxWebContent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_siteNavigationWebContent {
	background: url('277x182/siteNavigationWebContent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_siteBreadcrumb {
	background: url('277x182/siteBreadcrumWebContent.gif') no-repeat;
	width: 277px; height: 182px;
}

.BrowseIcon {
	width: 16px;	height: 16px;
  background: url('16x16/exo-browseIcon.png') no-repeat ;
  cursor: pointer;	 
}

.FormHint {
	padding: 0 5px 10px 20px;
	font-weight: bold;
	color: #4D627D;
	padding-left:20px;
	background: url('16x16/LightBulbOn.gif') no-repeat;
}

.WebContentSynchronize {
	background-repeat:no-repeat;
	color:#058EE6;
	cursor:pointer;
	font-weight:bold;
	height:auto;
	line-height:20px;
	padding-left:23px;
}

.WebContentInformation {
	padding-bottom: 10px;
}

.WebContentTitle {
	color:#058EE6;
}