.exo_webContent {
	background: url('277x182/freeLayoutWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_twoColumnsWebcontent {
	background: url('277x182/twoColumnsWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_pictureOnHeadWebcontent {
	background: url('277x182/pictureOnHeadWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.BrowseIcon {
	width: 16px;	height: 16px;
  background: url('16x16/exo-browseIcon.png') no-repeat ;
  cursor: pointer;	 
}

.FormHint {
	padding: 10px 5px;
	text-align: center;
	font-weight: bold;
}

.UIPageBody .Categories {
	line-height: 25px;
}

.UIPageBody .WebContentContainer {
	background: #fff;
	border: 1px #bbb solid;
	margin: 5px; 
	padding: 10px;
}

.UIPageBody .WebContentDetails {
	border-bottom: 1px dotted #b7b7b7;
	padding-bottom: 10px;
}