.exo_webContent {
	background: url('277x182/freeLayoutWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_twoColumnsWebcontent {
	background: url('277x182/twoColumnsWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.exo_pictureOnHeadWebcontent {
	background: url('277x182/pictureOnHeadWebcontent.gif') no-repeat;
	width: 277px; height: 182px;
}

.BrowseIcon {
	width: 16px;	height: 16px;
  background: url('16x16/exo-browseIcon.png') no-repeat ;
  cursor: pointer;	 
}

.FormHint {
	padding: 10px 5px;
	text-align: center;
	font-weight: bold;
}