.BrowseIcon {
	width: 16px;	height: 16px;
  background: url('icons/BrowseIcon.png') no-repeat ;
  cursor: pointer;	 
}

.FormHint {
	border:1px solid #B7B7B7;
	color:#4D627D;
	font-weight:bold;
	padding:10px 5px 10px 25px;
	background: white url('icons/Hint.gif') no-repeat 5px 9px;
}

.WebContentMain {
	float: right;
	line-height: 16px;
}

.WebContentSynchronize {
	float: right;
	cursor:pointer;
	margin-left: 5px;
}

.WebContentInformation {
	padding-bottom: 10px;
}

.WebContentTitle {
	color:#058EE6;
}

.UIJCRExplorerPortlet .WCMContentView .UIListGrid .LeftColumn .Icon16x16 {
	position: static;
}

.UIJCRExplorerPortlet .WCMCategoryView .UIListGrid .LeftColumn .Icon16x16 {
	position: static;
}