.UISiteAdminToolBar {
  height: 32px;
  padding-right: 10px;
}

.UISiteAdminToolBar .Editing {
  float:left;
	font-weight:bold;
	margin-top:3px;
}

.UISiteAdminToolBar .LeftSelect {
  float:left;
}