/*------------------org.exoplatform.wcm.webui.search.UIWCMSearchForm-------------------*/
.UISearchForm {
	margin: 10px;
}

.UISearchForm .HorizontalLayout .CheckboxField{
	float: left; 
	padding-left: 18px;
}

.UISearchForm .HorizontalLayout .CheckboxText{
	float: left;
	padding-left: 4px;
	line-height: 18px;
}

.UISearchForm .HorizontalLayout input{
	font-size: 11px;
	width: 400px;
}
/*-------------------------------------------------------------------------------------*/