/*------------------org.exoplatform.wcm.webui.search.UIWCMSearchForm-------------------*/
.UIAdvanceSearchForm .HorizontalLayout .CheckboxField{
	float: left; 
	padding-left: 18px;
}

.UIAdvanceSearchForm .HorizontalLayout .CheckboxText{
	float: left;
	padding-left: 4px;
	line-height: 18px;
}

.UIAdvanceSearchForm .HorizontalLayout input{
	font-size: 11px;
	width: 400px;
}
/*-------------------------------------------------------------------------------------*/