/*---------------------------UIContentListViewerPortlet---------------------------------*/
.UIContentListViewerPortlet {

}

/*---------------------------UIFolderPathSelectorForm------------------------------------*/
.UIContentListViewerPortlet .UIFolderPathSelectorForm {
	padding: 10px;
}


.UIContentListViewerPortlet .UIFolderPathSelectorForm .FolderExplorer {
	float:left;
	width:230px;
}

.UIContentListViewerPortlet .UIFolderPathSelectorForm .UITreeList {
	margin-left:240px;
}

.UIContentListViewerPortlet .UIFolderPathSelectorForm .UITreeList .UIGrid .Select16x16Icon {
	background: url('DefaultSkin/icons/AddPage.gif') no-repeat left center;
	width: 16px;
	height: 16px;
}

.UIContentListViewerPortlet .UIFolderPathSelectorForm .TitleBox {
	border: 1px solid #B1B0B0; 
	background-color: #F3F3F3; 
	margin-bottom: 10px;
	padding-left: 10px;
}

.UIContentListViewerPortlet .UIFolderPathSelectorForm .FolderExplorer .FolderExplorerTree {
	background:#F3F3F3 none repeat scroll 0 0;
}

.UIContentListViewerPortlet .UIFolderPathSelectorForm .FolderExplorer .FolderExplorerTree .FolderInnerExplorerTree {
	border:1px solid #B1B0B0;
	padding:10px;
}

/*---------------------------UIViewerManagementForm------------------------------------*/
.UIContentListViewerPortlet .UIViewerManagementForm .SelectFolderPathIcon {
	background: url('DefaultSkin/icons/AddPage.gif') no-repeat left center;
	width: 16px;
	height: 16px;
	margin-left: 10px;
}

.UIContentListViewerPortlet .UIViewerManagementForm .FolderPathInputSet .UIFormInputSet .FormContainer {
	margin-left: -2px;
	padding: 0px;
}

.UIContentListViewerPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	margin-left: -2px;
	padding: 0px;
}

.UIContentListViewerPortlet .UIViewerManagementForm .FieldLabel {		
	width: 125px;
}