.UIDefaultLeft {
	background: #d8d8d8 url(DefaultSkin/background/DefaultBackground.png) repeat-x;
	border-bottom: 1px solid #99999a;
}

.UIDefaultLeft .Logo {
	width: 200px; 
	float: left;
	padding-top: 4px;
}

.UIDefaultLeft .MiddleBanner {
	height: 71px;
	margin: 0px 0px 0px 200px;
}

.UIDefaultLeft .MiddleBanner .BannerTitle {
	font-weight: bold; 
	font-size: 16px;
	color: #666666;	
	letter-spacing: 0.2em;
	font-variant: small-caps;
	height: 40px;	
	line-height: 40px;
	padding-right: 160px;
}

.UIDefaultLeft .LeftLogin {
	background: url(DefaultSkin/background/LeftLoginLeft.gif) no-repeat top left;
	padding-left: 30px;
}

.UIDefaultLeft .RightLogin {
	background: url(DefaultSkin/background/RightLoginLeft.gif) no-repeat top right;
	padding-right: 28px;
} 

.UIDefaultLeft .CenterLogin {
	background: url(DefaultSkin/background/CenterLogin.gif) repeat-x;
	height: 31px;
} 

.UIDefaultLeft .CenterLogin .LoginContent {
	padding-top: 5px;
}

.UIDefaultLeft .CenterLogin .LoginInfo {
	float: right;
	line-height: 31px;
}

.UIDefaultLeft .CenterLogin .LoginInfo .Welcome {
	padding-top: 5px;
}

.UIDefaultLeft .CenterLogin .LoginInfo span {
	font-weight: bold;
	color: #0066FF;

}

.UIDefaultLeft .CenterLogin .LoginSeperatorLine {
	float: right;
	width: 2px;
	background: url(DefaultSkin/background/SeperatorLine.gif) no-repeat;
	margin: 7px 20px 0px 20px;
	height: 20px;
}

.UIDefaultLeft .CenterLogin a {
	display: block;
	text-decoration: none;
}

.UIDefaultLeft .CenterLogin .LogoutIcon {
	cursor: pointer;
	font-weight: bold;
	padding-left: 26px;
	background: url(DefaultSkin/background/LogoutIcon.png) no-repeat center left;
	color: #0066FF;
}

.UIDefaultLeft .CenterLogin .SettingLanguage {
  background: url(DefaultSkin/background/LanguageIcon.gif) no-repeat left center;
  padding-left: 26px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  line-height: 31px;
  color: #0066FF;
}