/*==============================UIBannerPortlet=================================*/
.UIBannerPortlet {
	overflow: auto;
  height: 74px;
}

.UIBannerPortlet .LeftBanner {
	height: 74px;
	padding: 0px 0px 0px 264px;
  background: url('VistaSkin/background/Banner.png') no-repeat left top;
}

.UIBannerPortlet .MiddleBanner{
	height: 74px;
  background: url('VistaSkin/background/Banner.png') repeat-x right -219px;
}

.UIBannerPortlet .RightBanner {
  height: 74px;
  padding: 0px 60px 0px 0px ;
  background: url('VistaSkin/background/Banner.png') no-repeat right -75px;
}

.UIBannerPortlet .BannerTitle {
  height: 45px;
  background: url('VistaSkin/background/Banner.png') no-repeat left -150px;
  margin: 0px 0px 0px 5px;
}

.UIBannerPortlet .LoginContainer {
}

.UIBannerPortlet .LoginContainer .LoginContent {
  float: right;
  padding: 2px 0px 0px 0px;
  line-height: 20px;
}

.UIBannerPortlet .LoginContainer .LoginContent a {
  font-weight: bold;
  color: #5098EB;
	display: block;  
}

.UIBannerPortlet .LoginContainer .LoginContent a:hover {
  color: #b3e2fb;
}

.UIBannerPortlet .LoginContent .SeperatorLine {
  float: right;
  width: 2px; height: 20px;
  background: url('DefaultSkin/background/2x2.gif') repeat-y;
  margin: 2px 7px;
 }
 

.UIBannerPortlet .LoginContent .LogoutIcon {
  float: left;
  height: 22px;
  background: url('VistaSkin/background/Banner.png') no-repeat left -340px;
  cursor: pointer; 
  padding-left: 25px;
}

.UIBannerPortlet .LoginContent .LoginIcon {
  height: 22px;
  background: url('VistaSkin/background/Banner.png') no-repeat left -317px;
  cursor: pointer;
  padding-left: 25px;
  float: right;
}

.UIBannerPortlet .LoginContent .LoginSeperatorLine {
  float: left;
  width: 2px; height: 20px;
  background: url('DefaultSkin/background/2x2.gif') repeat-y;
  margin: 4px 7px 0px 7px;
 }
 
.UIBannerPortlet .LoginContent .SettingIcon {
  height: 22px;
  background: url('VistaSkin/background/Banner.png') no-repeat left -293px;
  margin-right: 2px;
  padding-left: 28px;
  cursor: pointer;
	font-weight: bold;
	float: right;
	display: block;
}




/*==============================UIBannerEditModeForm=================================*/
.UIBannerEditModeForm{

}

.UIBannerEditModeForm .UIBannerEditModeFormGrid{
	margin-top: 20px;
}

.UIBannerEditModeForm .UIBannerEditModeFormGrid textarea{
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 700px;	
	height: 150px;
}

.UIBannerEditModeForm .UIBannerEditModeFormGrid input.checkbox{
	width: auto;
	float: left; 
}
.UIBannerEditModeForm .UIBannerEditModeFormGrid td.FieldLabel{
	padding: 4px;
	float: right;
	vertical-align: top;
}

.UIBannerEditModeForm .UIBannerEditModeFormGrid td.FieldComponent{
	padding: 4px;
}


/*==============================LightBlueStyle ActionButton=================================*/
.UIBannerEditModeForm .UIAction .LightBlueStyle{

}

.UIBannerEditModeForm .UIAction .LightBlueStyle .ButtonLeft {
  background: url('DefaultSkin/background/LightBlueStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIBannerEditModeForm .UIAction .LightBlueStyle .ButtonRight {
  background: url('DefaultSkin/background/LightBlueStyle.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIBannerEditModeForm .UIAction .LightBlueStyle .ButtonMiddle {
 	line-height: 22px; text-align: center; 
	background: url('DefaultSkin/background/LightBlueStyle.gif') repeat-x bottom;
	white-space: nowrap;
	display: table-cell;
	padding: 0px 12px;
}

.UIBannerEditModeForm .UIAction a.LightBlueStyle {
  color: #313131;
  margin: 0px 6px; white-space: nowrap;
}

.UIBannerEditModeForm .UIAction a:hover.LightBlueStyle {
  color: #1273df;
}

/*========================================================================================*/
.EditPortletIcon{
	background:url('DefaultSkin/background/ContainerIcon.gif') no-repeat scroll center top;
	float:right;
	height:16px;
	margin:4px;
	padding-left:50px;
}