.UIContentListViewerPortlet .ACMEContentListViewerB .LeftTitle {}

.UIContentListViewerPortlet .ACMEContentListViewerB .RightTitle {
	background: url(background/Title.gif) no-repeat scroll right top;
	padding-right:3px;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .CenterTitle {
	background: url(background/Title.gif) left -46px repeat-x;
	padding: 0 10px;
	height: 45px;
	text-align: left;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Icon {
	background:transparent url(icons/IconTitle.jpg) no-repeat scroll left top;
	height:33px;
	padding:13px 0 0 50px;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Icon .TextTitle {
	font-size: 18px;
	color: #fff;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .CaptionBackground {
	background: #999999;
	padding:0;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .CaptionLeft {
	background: url(background/BG_BottomCenterCol.gif) no-repeat left bottom;
	padding-left:1px;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Caption {
	padding:10px 15px;
	background: #fff;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Caption .CaptionItem {
  margin-bottom:20px;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Caption .CaptionTitle {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Caption .CaptionTitle a {
  color:#005151;
	text-decoration:underline;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Caption .CaptionTitle .CaptionDraft {
	width: 16px;
	height: 16px;
	font-size: 11px;
	font-weight: normal;	
	padding: 0 3px 3px 25px;
	background: url(icons/Edit.gif) no-repeat;
}

.UIContentListViewerPortlet .ACMEContentListViewerB .Caption .CaptionContent p {
  font-size:11px;
	line-height:16px;
	margin:0;
}