.UISingleContentViewerPortlet {
	overflow: auto;
}

.UISingleContentViewerPortlet .QuickPrint {
	width: 16px;
	height: 16px;
	cursor: pointer;
	position: absolute;
	background: url('icons/16x16/PrinterIcon.gif') no-repeat;
}

.UISingleContentViewerPortlet .WebContentContainer {
	/*background: white;*/
}

.UISingleContentViewerPortlet .Message {
	border: 1px solid #b7b7b7;
	height: 55px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-size: 13px;
	background: white;
}

.UISingleContentViewerPortlet .EditMode {
	padding: 5px;
	border: 1px solid #B7B7B7;
	margin: 5px;
	background: white;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .LeftColumn {
	float: left;
	background: url('background/LeftContent188x219.gif') no-repeat left top;
	width: 188px; height: 219px;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer {
	margin-left: 200px;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeScreen {
	padding: 20px 0px 10px;
	font-weight: bold;
	text-align: center;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeLable {
	font-size: 15px;
	color: #058ee6;
	line-height: 30px;
	height: 30px;
	padding-bottom: 5px;
	text-align: left;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeText {
	height: 20px;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeLablePadding {
	padding-left: 15px; 
	font-weight: bold;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeTextPadding {
	padding-left: 15px; 
	line-height: 25px;
}

.UISingleContentViewerPortlet .UIWizard {
	width: auto;
	background: white;
}

.UISingleContentViewerPortlet .UIPermissionSetting .UIFormInputSet {
	padding: 10px 0px;
	width: auto;
}

.UISingleContentViewerPortlet .UIPermissionSetting td.FieldLabel {
	width: 140px;
}

.UISingleContentViewerPortlet .LeftShowStepInfo {
	float: right;
	padding-left: 28px;
	cursor: pointer;
	margin: 2px 5px;
	background: url('background/ShowStepInfo.gif') no-repeat left top;
}

.UISingleContentViewerPortlet .QuickEditContainer .LeftShowStepInfo {
	padding-left: 8px;
}

.UISingleContentViewerPortlet .RightShowStepInfo {
	background: url('background/ShowStepInfo.gif') no-repeat right top;
	padding-right: 7px;
}

.UISingleContentViewerPortlet .MiddleShowStepInfo {
	background: url('background/ShowStepInfo.gif') repeat-x center -25px;
	color: #275377;
	font-weight: bold;
	height: 25px; line-height: 25px;
}

.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .PageNodeContainer {
	display: none;
}

.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .PageInfoContainer {
	border: 0;
	padding: 0;	margin: 0;
	background: white;
}

.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .SelectedPageInfo {
	background: none;
	border: 0; 
	padding: 0;
	margin: 0;
}

.UISingleContentViewerPortlet .UIForm .HorizontalLayout .textarea {
	width: 525px;
	height: 275px;
}

.UIWelcomeScreen .HorizontalLayout {
	padding: 0px;
	background: white;
}
.UIWebContentSelectorForm {
	margin: 8px auto;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet {
	padding: 0px;
	width: auto;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
	padding: 0px;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormGrid .FieldComponent {
	padding: 0px;
}

.UIWebContentSelectorForm .BrowsePublicationIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;  
	cursor: pointer;
}

.UIWebContentSelectorForm .BrowseIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;  
	cursor: pointer;
}

.UIDMSSelectorForm {
	margin: 8px auto;
}

.UIDMSSelectorForm .UIFormGrid .UIFormInputSet {
	padding: 0px;
	width: auto;
}

.UIDMSSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
	padding: 0px;
}

.UIDMSSelectorForm .UIForm .UIFormGrid .FieldComponent {
	padding: 0px;
}

.UIDMSSelectorForm .HorizontalLayout {
	padding-top: 10px;
}

.UIDMSSelectorForm .BrowseIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;  
	cursor: pointer;
}

.UINameWebContentForm .UIForm .HorizontalLayout .FieldComponent {
	width:750px;
}

.UINameWebContentForm .UIForm .HorizontalLayout .textarea {
	width: 80%;
	height: 180px;
}

.UISingleContentViewerPortlet .UIFormWithTitle {
	width: 800px;
}

.UIPermissionSetting .SelectUserIcon {
	width: 16px; height: 16px;
	background: url('icons/16x16/SmallUserIcon.gif') no-repeat;  
	cursor: pointer;
}

.UIPermissionSetting .SelectMemberIcon {
	width: 16px; height: 16px;
	background: url('icons/16x16/SmallMemberIcon.gif') no-repeat;  
	cursor: pointer;
}

.UIPermissionSetting .AddAnyIcon {
	width: 16px; height: 16px;
	background: url('icons/16x16/SmallGroupIcon.gif') no-repeat;  
	cursor: pointer;
}

.UIDMSSelectorForm .BrowsePublicationIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;  
	cursor: pointer;
}

.UIWCMPublicationGrid .SelectIcon {
	background-image:url('icons/16x16/SelectPage.gif');
	cursor:pointer;
	height:16px;
	width:16px;
}

.UISingleContentViewerPortlet .SelectIcon {
	background-image:url('icons/16x16/SelectPage.gif');
	cursor:pointer;
	height:16px;
	width:16px;
	margin: auto;
}

.UISingleContentViewerPortlet .UIDMSPathSelector {
	margin: 8px;
	padding: 8px;
	border: 1px solid #b7b7b7;
	background: #F3F3F3;
}


.UISingleContentViewerPortlet .QuickEditContainer {
	border: 1px solid #b7b7b7;
	background: white;
}

.UISingleContentViewerPortlet .QuickEditContainer .UIFormGrid td.FieldLabel {
	white-space: nowrap;
	width: 75px;
}

.UINameWebContentForm .UIFormGrid td.FieldLabel {
	white-space: nowrap;
}

.UISingleContentViewerPortlet .QuickEditContainer .UIFormGrid {
	width: 99%;
}

.UISingleContentViewerPortlet .QuickEditBackButton {
	text-align: right;
	padding: 0px 10px;
	height: 36px; line-height: 36px;
	background: url('background/WizardStepBar.gif') repeat-x bottom;
	border-bottom: 1px solid #b7b7b7;
}

.UISingleContentViewerPortlet .QuickEditBackButton a {
	color: #058ee6;
	font-weight: bold; font-size: 12px;
}

.UISingleContentViewerPortlet .QuickEditBackButton a:hover {
	text-decoration: underline;
}

.UISingleContentViewerPortlet .location .UIFormGrid td {
	padding: 0px;
}

.UISingleContentViewerPortlet .location .UIFormGrid {
	width: 100%;
}

.UISingleContentViewerPortlet .UIWizard .UIWCMUserContainer .Icon {
	background: url(/eXoResources/skin/DefaultSkin/webui/component/UIPageIterator/background/ArrowPageIterator.gif) no-repeat scroll left top;;
	float:left;
	height:16px;
	width:16px;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions {
	border: 1px solid #b7b7b7;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions {
	line-height: 16px;
	border: 1px solid white;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions .DescripberStep {
	padding: 5px 0px;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions .StepNavigationTitle {
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 1px solid #b7b7b7;
}

.UICategoriesSelector .UICategoriesSelectPanel .UIGrid {
	!width: 95%;
}

.UISingleContentViewerPortlet .UIStartEditionInPageWizard {
	text-align: center;
	padding: 20px;	
}

.UISingleContentViewerPortlet .UIStartEditionInPageWizard a:hover {
	font-size: 12px;
	color: #058EE6;	
}
