.exo_cssFolder16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-cssFolder.gif') no-repeat;  
}

.exo_jsFolder16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-jsFolder.gif') no-repeat;  
}

.exo_webFolder16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-webFolder.gif') no-repeat;  
}

.exo_portalFolder16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-portalFolder.gif') no-repeat;  
}

.exo_linkFolder16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-linkFolder.gif') no-repeat;  
}

.exo_themeFolder16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-themeFolder.gif') no-repeat;  
}

.exo_link16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-webLink.gif') no-repeat;  
}

.exo_webContent16x16Icon{
  width: auto; height: 16px;
  background: url('16x16/exo-webContent.gif') no-repeat;  
}