.exo_cssFolder16x16Icon{
  width: 16px; height: 16px;
  background: url('16x16/exo-cssFolder.gif') no-repeat;  
}

.exo_jsFolder16x16Icon{
  width: 16px; height: 16px;
  background: url('16x16/exo-jsFolder.gif') no-repeat;  
}

.exo_webFolder16x16Icon{
  width: 16px; height: 16px;
  background: url('16x16/exo-webFolder.gif') no-repeat;  
}

.exo_portalFolder16x16Icon{
  width: 16px; height: 16px;
  background: url('16x16/exo-portalFolder.gif') no-repeat;  
}