.UIPaginatorDefault {
    margin: 0 10px 0 210px;
    text-align: right;
}

.UIPaginatorDefault a {
    padding: 5px;
    font-size: 14px;
    margin-left: 3px;	
    text-decoration: underline;
}

.UIPaginatorDefault a.Current {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.UIPaginatorDefault a.Prev, 
.UIPaginatorDefault a.Next {
  padding-right: 16px;
	font-weight: bold;
}

.UIPaginatorDefault a.Prev {
    background: url(images/prev.gif) no-repeat right;
}

.UIPaginatorDefault a.Next {
    background: url(images/next.gif) no-repeat right;
}