.UIParameterizedContentViewerPortlet {

}

.UIParameterizedContentViewerPortlet .ContentViewerBar {
	background: url(DefaultSkin/images/BgViewerBar.png) repeat-x top center;
	padding: 0px 0px 5px 15px;
	height: 30px;
}

.UIParameterizedContentViewerPortlet .ContentViewerBar .BackButton {
	background: url(DefaultSkin/images/BackIcon.gif) no-repeat center;
	width: 30px; height: 30px;
	cursor: pointer;
	float: left;
	margin-top: 5px;
}

.UIParameterizedContentViewerPortlet .UIContentViewerContainer .ContentViewerBar .DocumentQuickEdit {
	background: url('DefaultSkin/images/quickEdit.png') no-repeat right top;
	height: 30px;
	width: 65px;	
	float: right;
}