.UIParameterizedContentViewerPortlet {

}

.UIParameterizedContentViewerPortlet .ContentViewerBar {
	background: url(DefaultSkin/images/BgViewerBar.png) repeat-x top center;
	padding: 0px 0px 5px 15px;
	height: 30px;
}

.UIParameterizedContentViewerPortlet .ContentViewerBar .BackButton {
	background: url(DefaultSkin/images/BackIcon.gif) no-repeat center;
	width: 20px; height: 20px;
	cursor: pointer;
	float: left;
	margin-top: 5px;
}

.UIParameterizedContentViewerPortlet .UIContentViewerContainer .DocumentQuickEdit {
	background: url('DefaultSkin/images/quickEdit.png') no-repeat right top;
	height: 30px;
	width: 65px;	
	float: right;
}

.UIParameterizedContentViewerPortlet .ActionContainer {
	height: 28px; line-height: 28px;
	text-align: center;
	border-top: 1px dotted #b7b7b7;
}

.UIParameterizedContentViewerPortlet .ActionContainer .PrintFrameIcon {
	padding: 4px 15px 2px 23px;
	font-size: 12px;
}

.UIParameterizedContentViewerPortlet .ActionContainer .PrintFrameIcon:hover {
	text-decoration: underline;
	color: #058ee6;
}

.UIParameterizedContentViewerPortlet .ActionContainer .PrintIcon {
	background: url('DefaultSkin/images/PrintFrameIcon.gif') no-repeat top left;
}

.UIParameterizedContentViewerPortlet .ActionContainer .CloseIcon {
	background: url('DefaultSkin/images/PrintFrameIcon.gif') no-repeat left -19px;
}