.UIFastContentCreatorPortlet {
	background: white;
	padding: 10px ;
}

.UIFastContentCreatorPortlet .SelectPathIcon {
	background: url('DefaultSkin/SearchPath.gif') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIFastContentCreatorPortlet .SelectPath24x24Icon {
	background: url('DefaultSkin/SearchPath.gif') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIFastContentCreatorPortlet .AddRootNodeIcon {
	background: url('DefaultSkin/SelectPath.gif') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIFastContentCreatorPortlet .Edit16x16Icon {
	background: url('DefaultSkin/EditAction.gif') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIFastContentCreatorPortlet .Delete16x16Icon {
	background: url('DefaultSkin/DeleteAction.gif') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.UIFastContentCreatorPortlet .MsgLable {
	text-align: center;
	line-height: 40px;
	color: #E80C00;
	border: 1px solid red;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent {
  width: 350px;
  margin: auto;
}

.UIFastContentCreatorPortlet .UIFormGrid {
	width: 100%;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 120px;
}

.UIFastContentCreatorPortlet .MultiValueContainer a  {
  margin: 0px 5px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	width: auto;	
}

.UIFastContentCreatorPortlet .UIFastContentCreatorConfig .HorizontalLayout .UIFormInputSet .AddIcon16x16{
	margin-left: 5px;
	float: none;
}

.UIFastContentCreatorPortlet .UIFastContentCreatorConfig .FieldComponent .actionInput .FieldComponent {
	padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIFastContentCreatorConfig .HorizontalLayout .FormContainer {
	padding: 0;
	margin: auto;
}

.UIFastContentCreatorPortlet .UIFastContentCreatorConfig .HorizontalLayout .UIFormInputSet {
	margin: auto;
	padding: 0px;
	width: 100%;
}

.UIFastContentCreatorPortlet .UIFastContentCreatorConfig .FieldComponent .actionInput {
	width: 100%;
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIFastContentCreatorConfig .UIForm .HorizontalLayout input {
	width: 233px;
}

.UIFastContentCreatorPortlet .UIForm td.FieldComponent {
  padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIForm .rootNodeInfo td.FieldComponent {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIOneNodePathSelector .rootNodeInfo .UIFormInputSet {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px 0px 4px;
  vertical-align: middle;
}

.UIFastContentCreatorActionContainer .UIFormWithTitle {
	width: auto;
}

.UIFastContentCreatorActionContainer .UIFormWithTitle input {
	width: 220px;
}

.UIFastContentCreatorActionContainer .UIFormWithTitle select {
	width: 226px;
}

.UIFastContentCreatorActionContainer .UIFormWithTitle textarea {
	width: 224px;
}

.UITrees .Node .NodeIconLink {
	background-position: left top;
	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIOneNodePathSelector .LinkSmall {
	background: url('MacSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}