.UIACMESearchBox .Search {
	background: url(background/SearchBackground.gif) left -30px repeat-x;
	height: 30px;
}

.UIACMESearchBox .KeywordInput {
	background: url(background/SearchBackground.gif) left top no-repeat;
	padding: 4px 0 0 14px;
	height: 26px;
	float: left;
}

.UIACMESearchBox .KeywordInput input {
	background: none;
	border: none;
	width: 200px;
	padding: 0 5px;
	color: #727272;
	font-style: italic;
	font-size: 11px;
	margin-top: 4px;
}

.UIACMESearchBox .SearchBoxIcon {
	background:url(background/SearchIcon.gif) top left no-repeat;
	width: 98px;
	height: 30px;
	float: left;
	cursor: pointer;
}