.WCMPublication .PanelContainer {
	margin: auto;
}

.WCMPublication .PanelContainer .PanelLeft{
	float: left;
	width: 40%;
}

.WCMPublication .PanelContainer .PanelRight{
	float: right;
	width: 40%;
}

.WCMPublication .PanelContainer .Title{
	color: #0d5398;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-bottom: 3px;
}

.WCMPublication .PanelContainer .SubTitle {
	font-size: 11px;
	color:#999999;
	text-align: center;
	margin-bottom: 3px;
}

.WCMPublication .PanelContainer .PanelCenter{
	text-align: center;
	width: 125px;
	margin: auto;
	padding-top: 50px;
}

.WCMPublication .PanelContainer .PanelCenter a img {
	background: #bfd3df;
	border: 1px solid white;
	margin: 1px;
	padding: 1px;
}

.WCMPublication .PanelContainer .PanelCenter .ArrowBack {
	background: #bfd3df url('icons/16x16/arrowBack.gif') no-repeat top left;
	height: 33px;
	width: 62px;
	cursor: pointer;
	margin: auto;
}

.WCMPublication .PanelContainer .PanelCenter .ArrowNext {
	background: #bfd3df url('icons/16x16/arrowNext.gif') no-repeat top left;
	height: 33px;
	width: 62px;
	cursor: pointer;
	margin: auto;
}

.WCMPublication .PanelContainer .PanelBox{
	border: 1px solid white;
	background: #bfd3df;
	padding: 1px;
}

.WCMPublication .PanelContainer .PanelBox .PanelContent{
	background: white;
	padding: 5px;
	margin: 0;
	height: 180px;
	overflow: auto;
}

/* ===== Overwrite stylesheet ===== */
.WCMPublication .PanelContainer .UIContainerConfigOptions {
	margin: 0;
}

.WCMPublication .PanelContainer .UIContainerConfigOptions .ScrollArea {
	border: none;
}

.WCMPublication .PanelContainer .ContainerConfigOptions {
	border: none;
	padding: 0;
}
/* ===== Overwrite stylesheet ===== */

/*.UISelectedPages .Container {
  background: #f4f4f4;
}*/

.WCMPublication .UISelectedPages .ListPage {
  background: #f4f4f4;
}

.WCMPublication .UISelectedPages .ListPage .OverflowContainer {
  background: white;
  height: 146px; 
  width: auto;
  padding: 7px 0px;
  overflow: auto;
}

.WCMPublication .UISelectedPages .ListPage  a:hover {
  color: blue; 
}

.WCMPublication .UISelectedPages .ListPage .ItemIcon {
  height: 22px; 
  line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left;  
  padding-left: 20px;
  display: block;
  cursor: pointer;
}

.WCMPublication .UISelectedPages .ListPage .Selected {
	height: 22px; 
  line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat left;  
  padding-left: 20px;
  display: block;
  cursor: pointer;
  color: #058EE6;
}

.WCMPublication .UISelectedPages .ListPage .NoItem {
	font-style:italic;
	text-align:center;
	text-decoration:none;
}

.UIPublicationLogList .UIGrid .Text {
	white-space: normal;
}