#DefaultPortalContainer .UIWCMColumnContainer {
  background: white url('/portal/rest/jcr/repository/collaboration/sites content/live/classic/web contents/site artifacts/banner/Default/medias/images/BgBanner.png') repeat-x;
}

td {
	min-width: 20px;
}

.UIExoStart .ExoHomeButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 94px; 
	height: 38px;
	margin: 0px 0px 0px 70px;
	cursor: pointer;
}

.UIExoStart .ButtonNormal {
	background: url('background/ExoHome.gif') no-repeat -4px -45px;
}

.UIExoStart .ButtonOver {
	background: url('background/ExoHome.gif') -98px -45px;
}

.UIExoStart .ButtonClicked {
	background: url('background/ExoHome.gif') no-repeat -4px -84px;
}

.UIPopupWindow {	
	position: absolute;
	visibility: hidden;
}

.UIPopupWindow .PopupTitleIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 5px 0px 0px 3px; /* orientation=lt */
	margin: 5px 3px 0px 0px; /* orientation=rt */
	width: 16px; height: 16px;
	background: url('background/PopupWindow.gif') no-repeat left bottom;
}

.UIPopupWindow .PopupTitleIconRight {
	float: right;
	margin: 5px 3px 0px 0px;
	width: 19px; height: 16px;
	background: url('background/PopupWindow.gif') no-repeat left bottom; 
}

.UIPopupWindow .PopupTitle {
	margin: 4px 26px 0px 26px;
	font-weight: bold; text-align: center;
	height: 16px; line-height: 16px; vertical-align: middle; 
	background: url('background/PopupWindow.gif') repeat-x center -30px;
	cursor: move;
}

.UIPopupWindow .CloseButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin: 5px 3px 0px 0px; /* orientation=lt */
	margin: 5px 0px 0px 3px; /* orientation=rt */
	cursor: pointer;
	width: 19px; height: 15px;
	background: url('background/PopupWindow.gif') no-repeat right bottom;
}

.UIPopupWindow .TopLeftCornerDecorator {
	background: url('background/PopupWindow.gif') no-repeat left -69px;
	padding-left: 3px;
}

.UIPopupWindow .TopCenterDecorator {
	background: url('background/PopupWindow.gif') repeat-x center -46px;
	height: 23px; 
}

.UIPopupWindow .TopRightCornerDecorator {
	background: url('background/PopupWindow.gif') no-repeat right -69px;
	padding-right: 3px;
}

.UIPopupWindow .MiddleLeftSideDecorator {
	background: url('background/MiddlePopupWindow.gif') repeat-y left;
	padding-left: 3px ;	
}

.UIPopupWindow .MiddleCenterDecorator {
	background: #bcc6f7;
	padding: 1px 1px 0px 1px;
}

.UIPopupWindow .MiddleRightSideDecorator {
	background: url('background/MiddlePopupWindow.gif') repeat-y right;
	padding-right: 3px;	
}

.UIPopupWindow .UIWindowContent {
	border: 1px solid gray;
	border-right: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
}

.UIPopupWindow .PopupContent {
	width: 100%;
	background: white;
	overflow: auto;
}

.UIPopupWindow .ResizeButton {
	display: none;
	width: 18px; height:3px; 
	float: right;
	margin-right: 2px;
	cursor: nw-resize;
}

.UIPopupWindow .BottomLeftCornerDecorator {
	background: url('background/PopupWindow.gif') no-repeat left -26px;
	padding-left: 3px;
}

.UIPopupWindow .BottomCenterDecorator {
	background: url('background/PopupWindow.gif') repeat-x right -11px;
	height: 4px;
	width: 100%;
}

.UIPopupWindow .BottomRightCornerDecorator {
	background: url('background/PopupWindow.gif') no-repeat right -26px;
	padding-right: 3px ;	
}

.UIPopupWindow .Content .UIPageBrowser {
	padding: 7px 4px 0px 8px;
	width: 96%;
	margin: auto;
}

.UIWCMColumnContainer {
  margin: auto;
  overflow: hidden;
}

.UIWCMColumnContainer .BannerTDContainer {
  float: left;
  width: 50%;
  overflow: hidden; 
}

.UIWCMColumnContainer .AccessContainerTDContainer {
	float: right;
}

#UIContainer-DefaultPortalContainer {
	padding: 0;
} 

#UIContainer-DefaultPortalContainer .UITableColumnContainer {
	_width: 99%;
	_position: relative;
}

#UIContainer-DefaultPortalContainer .UIContainer {
	padding: 0;
}

.UIWorkingWorkspace {
	_zoom: 100%;
}


.WCMTRContainer .CategoryNavigationPortletContainerTDContainer {
	float: left;
	width: 30%; 
}

.WCMTRContainer .ParameterizedContentListViewerPortletContainerTDContainer {
	float: right;
	width: 70%; 
}

/* Quick fix for new dms explorer (until dms 2.5.1 patch) */
.UIJCRExplorerPortlet .UIJCRExplorer .UIWorkingArea {
	height:475px !important;
}
.UIJCRExplorerPortlet .UIListView .UIListGrid {
	height:475px !important;
}
.UIJCRExplorerPortlet .UISideBar .UIResizableBlock {
	height:475px !important;
}
.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout .UIFormGrid {
	margin: auto;
	width: 100%;
}


.UIItemSelector .Presentation {
	height:170px;
	margin:auto;
	width:270px;
	background: url('background/presentation.gif') no-repeat center;	
}

.UIItemSelector .Search {
	height:170px;
	margin:auto;
	width:270px;
	background: url('background/search.gif') no-repeat center;	
}

.UIItemSelector .Sitemap {
	height:170px;
	margin:auto;
	width:270px;
	background: url('background/sitemap.gif') no-repeat center;	
}

.QuickEdit{
	background:url('background/quickEdit.png') no-repeat scroll left top;
	height: 30px;
	width: 65px;
	padding-left: 0px;
	float: right;
}

.UIItemSelector .ItemDetailList .TemplateContainer .ClassicSiteImage {
 	background:transparent url(background/classic.png) scroll center;
	height:222px;
	margin-top:9px;
}

.UIItemSelector .ItemDetailList .TemplateContainer .ACMESiteImage {
 	background:transparent url(background/Acme.png) no-repeat center;
	height: 235px;
	width: 296px;
	margin: 3px auto;
}