.UIContentListViewerPortlet .UIPaginatorDefault {
    margin: 0 10px 0 210px;
    text-align: right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a {
    padding: 5px;
    font-size: 12px;
    margin-left: 3px;	
}

.UIContentListViewerPortlet .UIPaginatorDefault a:hover {
    color: #ff4200;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.Item {
	color: black;	
}

.UIContentListViewerPortlet .UIPaginatorDefault a.Current {
    font-weight: bold;
    color: red;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.Prev, 
.UIContentListViewerPortlet .UIPaginatorDefault a.First, 
.UIContentListViewerPortlet .UIPaginatorDefault a.Next, 
.UIContentListViewerPortlet .UIPaginatorDefault a.Last, 
.UIContentListViewerPortlet .UIPaginatorDefault a.PrevDis, 
.UIContentListViewerPortlet .UIPaginatorDefault a.FirstDis, 
.UIContentListViewerPortlet .UIPaginatorDefault a.NextDis, 
.UIContentListViewerPortlet .UIPaginatorDefault a.LastDis {
    padding-right: 13px;
	font-weight: bold;
}
/* Enabled Item */
.UIContentListViewerPortlet .UIPaginatorDefault a.Prev {
    background: url(icons/icoPrevEna.gif) no-repeat right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.First {
    background: url(icons/icoFirstEna.gif) no-repeat right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.Next {
    background: url(icons/icoNextEna.gif) no-repeat right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.Last {
    background: url(icons/icoLastEna.gif) no-repeat right;
}
/* Disabled Item */
.UIContentListViewerPortlet .UIPaginatorDefault a.PrevDis, 
.UIContentListViewerPortlet .UIPaginatorDefault a.FirstDis {
    color: #666;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.NextDis, 
.UIContentListViewerPortlet .UIPaginatorDefault a.LastDis {
	color: #196697;	
}

.UIContentListViewerPortlet .UIPaginatorDefault a.PrevDis {
    background: url(icons/icoPrevDis.gif) no-repeat right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.FirstDis {
    background: url(icons/icoFirstDis.gif) no-repeat right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.NextDis {
    background: url(icons/icoNextDis.gif) no-repeat right;
}

.UIContentListViewerPortlet .UIPaginatorDefault a.LastDis {
    background: url(icons/icoLastDis.gif) no-repeat right;
}