.UIAdvancedPresentationPortlet .UIWelcomeScreen .WelcomeLable {
	background: url('images/LeftContent188x219.gif') no-repeat left top;
	width: 188px; height: 219px;
}

.UIAdvancedPresentationPortlet .UIWelcomeScreen .AlignLeft {
	float:left;
}

.UIAdvancedPresentationPortlet .UIWelcomeScreen .WelcomeLablePadding {
	padding-left: 15px; 
	font-weight: bold;
}

.UIAdvancedPresentationPortlet .UIWelcomeScreen .WelcomeTextPadding {
	padding-left: 15px; 
	line-height: 25px;
}

.UIWebContentSelectorForm {
	margin: 8px auto;
}

.UIWebContentPathSelector {
	margin: 8px;
	padding: 8px;
	border: 1px solid #b7b7b7;
	background: #F3F3F3;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet {
	padding: 0px;
	width: auto;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
	padding: 0px;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormGrid .FieldComponent {
	padding: 0px;
}

.UIDMSSelectorForm {
	margin: 8px auto;
}

.UIDMSPathSelector {
	margin: 8px;
	padding: 8px;
	border: 1px solid #b7b7b7;
	background: #F3F3F3;
}

.UIDMSSelectorForm .UIFormGrid .UIFormInputSet {
	padding: 0px;
	width: auto;
}

.UIDMSSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
	padding: 0px;
}

.UIDMSSelectorForm .UIForm .UIFormGrid .FieldComponent {
	padding: 0px;
}

.UIDMSSelectorForm .HorizontalLayout {
	padding-top: 10px;
}

.UIWelcomeScreen .HorizontalLayout {
	padding: 0px;
}

.UIWelcomeScreen .HorizontalLayout .FormContainer .WelcomeScreen {
	padding-left: 200px;
	padding-top: 15px;
}

.BrowseIcon {
	width: 16px;	height: 16px;
  background: url('images/MagnifierIconNews.png') no-repeat ;
  cursor: pointer;	 
}